@page

<section class="panel panel-default" style="width:40%; margin-left:20%; margin-top:30%">
    <div class="panel-body" style="margin-left:18%">You have signed out.</div>
    <a class="btn btn-default" style="margin-left:75px; margin-bottom:5px"
       asp-controller="Home" asp-action="Index">Go Home</a>
</section>
