@model Restaurant

@{ 
    ViewBag.Title = "Create";
}

<section class="panel panel-default" style="width:50%; margin-left:30%">
    <h3 class="panel-heading">Add Restaurant</h3>

    <div class="panel-body">
        <form method="post">

            <div class="form-group">
                <label asp-for="Name"></label>
                <input class="form-control" asp-for=" Name" />
                <span asp-validation-for="Name"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cuisine"> </label>
                <select class="form-control" asp-for="Cuisine" asp-items="@Html.GetEnumSelectList<CuisineType>()"></select>
                <span asp-validation-for="Cuisine"></span>
            </div>

            <input class="btn btn-default" type="submit" name="save" value="Save" />

        </form>
        </div>
</section>