@page "{id}"
@using RestOnInfo.Pages.Restaurants

@model EditModel

@{
    ViewBag.Title = "Edit Restaurant";
}


<header>
    <style>
        .panel-heading {
            font-family: Sirin Stencil;
            font-weight: 400;
            font-size: 35px;
        }

        .form-group, .form-control {
            font-family: Sirin Stencil;
            font-weight: 400;
            font-size: 15px;
        }
    </style>
</header>

<section class="panel panel-default" style="width:65%; margin-left:15%; margin-top:20%">
    <h3 class="panel-heading">@Model.Restaurant.Name</h3>

    <div class="panel-body">
        <form method="post">

            <input type="hidden" asp-for="Restaurant.Id" />

            <div class="form-group">
                <label asp-for="Restaurant.Name"></label>
                <input class="form-control" asp-for=" Restaurant.Name" />
                <span asp-validation-for="Restaurant.Name"></span>
            </div>

            <div class="form-group">
                <label asp-for="Restaurant.Cuisine"> </label>
                <select class="form-control" asp-for="Restaurant.Cuisine" asp-items="@Html.GetEnumSelectList<CuisineType>()"></select>
                <span asp-validation-for="Restaurant.Cuisine"></span>
            </div>

            <input class="btn btn-default" type="submit" name="save" value="Save" />
            <!--<a class="btn btn-default" asp-page="/Pages/Index">Cancel</a>-->
        </form>
    </div>

</section>
