@page
@model IndexModel

@{ 
    ViewBag.Title = "Home Page";
 }     

@foreach (var restaurant in Model.restaurants)
 {
    @Html.Partial("_Summary", restaurant)
 }


<div>
    <a class="btn btn-default" asp-action="Create">Add Restaurant</a>
</div>

